<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>


<% if @chapters.empty? && @search_term %>
  <p>Sorry, no matches were found</p>
<% elsif @search_term %>
  <h2 class="content-subhead"> Results for '<%= @search_term %>' </h2>
  <ul>
    <% @book.each do |key, value| %>
      <% next unless value[:selected] %>
      <li>
        <h3><%= key %></h3>
        <ul>
          <% value[:paragraphs].each do |key2, value2| %>
          <li>
            <a href="/chapter/<%= value[:number] %>#<%= key2 %>">
              <%= bold_word(value2, @search_term) %>
            </a>
          </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
